/* reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
  font-size: 0.8rem;
  font-family: 'Open Sans', sans-serif;
}

.debug .container [class*="col-"]{
  border:1px solid grey;
  min-height: 50px;
}

.row{
  width:100%;
}

.bg-grey{
  background-color: #FAFAFA;
}

.font-semibold {
    font-size:3rem;
    font-weight:600;
    font-family: "neue-haas-grotesk-display",sans-serif;
}

/* NAV */
nav{
  background-color: white;
}

nav .right-nav,.central-nav,.left-nav{
}

.left-nav{
  height:100px;
  position: relative;
}

.left-nav img{
  position:absolute;
  height:20px;
  top:50%;
  transform: translateY(-50%);
}

.central-nav ul li{
  margin-left:20px;
  display:inline-block;
  line-height: 98px;
}

.central-nav ul li a{
  text-transform: uppercase;
  color: black;
  text-decoration:none;
}

.central-nav ul{
  list-style: none;
  float:right;
}

.right-nav ul li{
  margin-left:20px;
  display:inline-block;
  line-height: 98px;
}

.right-nav ul li a{
  text-transform: uppercase;
  color: black;
  text-decoration:none;
}

.right-nav ul{
  list-style: none;
}

.right-nav-md-xs{
  position:relative;
  height:100px;
}

.right-nav-md-xs > i{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50% , -50%);

}

/* JUMBOTRON */
.jumbotron{
  background-image: url("../img/jumbotron-bg.jpg");
  background-size: cover;
  height:700px;
}

.titolo{
  height:650px;
  text-align:center;
  color:white;
  position:relative;
}

.titolo .container{
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
}

.titolo h2{
  margin-top:20px;
}

.titolo img{
  margin-top:20px;
  display:inline-block;
  height:70px;
  padding:10px;
}

/* SECTION-1 GO-BIKE*/
.go-bike{
  text-align: center;
  margin-top:30px;
  line-height: 50px;
}

.go-bike h4{
  font-size:20px;
}

.go-bike img{
  width:100%;
}

.go-bike .logo{
  height:50px;
  padding:15px;
  margin-top:60px;
}

.go-bike .right-row{
  padding-left:15px;
}

.go-bike .left-row{
  padding-right:15px;

}


/* SECTION-2 HOW-TO*/
.how-to{
  background-image: url("../img/section-3-bg.jpg");
  background-repeat:repeat-x;
  background-size:auto 500px ;
}

.iphone-bg{
  height:700px;
  background-image: url("../img/iphone-frame.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: auto 500px;
	border:3px solid red;
}

.how-to .left-row{
	padding-top:530px;
	padding-right:60px;
	font-size: 24px;
}

.how-to .right-row{
	padding-top:560px;
	font-size: 18px;
	line-height: 28px;
}

.foto-1{
	background-image: url(../img/scooter.jpg);
	color:white;
	text-align: center;
	line-height: 3.5rem;
	padding-top: 100px;
}


@media screen and (max-width:768px){

  .go-bike .right-row{
    padding:15px;
  }

  .go-bike .left-row{
    padding:15px;
  }

	.how-to .left-row{
		padding-top:700px;
		padding-right:0px;
	}

	.how-to .right-row{
		padding-top:20px;
	}

}
